#header
  b Nova mensagem Precato - #{time}
  h2 #{reportName}- Precato

#dados
  p Olá #{subscriber.name},
  p #{message}
  p Equipe Precato     
p Qualquer dúvida, por favor, entrar em contato: <a href="mailto:ernandesventura@gmail.com">API PRECATO</a>